.fixed-button, .fixed-button:active {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 20%;
    left: 10px;
    bottom: 10px;

    cursor: pointer;

    background-color: cadetblue;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.fixed-button:hover {
    background-color: darkcyan;
}

.fixed-button img {
    width: 20%;
    aspect-ratio: 1;
}

.fixed-button p {
    text-align: center;
    font-weight: bold;
}