.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-container main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    width: 100%;
    background-color: cadetblue;
    text-align: center;
}

main {
    background-color: bisque;
}

.article-container:not(:last-child) {
    border-bottom: 1px solid;
}

.article {
    padding: 10px;
}